{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content parallax">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 text-center">
                        <div class="">
                            <div class="">
                                <a data-fancybox class="fancybox-media"
                                   href="https://www.youtube.com/watch?v=4HgD1Nv36X8">
                                    <img src="{{ asset('images/play-youtube.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-md-offset-2 col-sm-offset-2 text-center">
                        <h1 class="text-center">WebTrav</h1>
                        <p class="text-center">Meilleur site pour vous</p>

                        <div class="row connect">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% else %}
                                <div class="btn col-md-3 col-md-offset-2">
                                    <a href="{{ path('fos_user_security_login') }}"><img
                                                src="{{ asset('images/login.png') }}" alt="insrit"></a>
                                </div>
                                <div class="btn col-md-3 col-md-offset-1">
                                    <a href="{{ path('fos_user_registration_register') }}"><img
                                                src="{{ asset('images/inscrit.png') }}" alt="login"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /page header -->


    <!-- Content area -->
    <div class="content">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3 hidden-xs">

                <!-- Online staff members -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h1 class="panel-title text-info">Des Recruteur</h1>
                    </div>

                    <div class="panel-body">
                        <ul class="media-list">
                            {% for r in recruteur %}
                                <li class="media">
                                    <a href="{{ path('show_recruteur', {'username':r.username}) }}" class="media-left">
                                        {% if ( (not r.image) or (not vich_uploader_asset(r.image, 'imageFile')) ) %}
                                            <img src="{{ asset('images/man.png') }}" class="img-circle" alt="">
                                        {% else %}
                                            <img src="{{ vich_uploader_asset(r.image, 'imageFile') }}"
                                                 class="img-circle" alt="">
                                        {% endif %}
                                    </a>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list text-nowrap">
                                            <li>
                                                <a href="{{ path('show_recruteur', {'username':r.username}) }}">
                                                    {{ r.domaine|default('is not defined') }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /online staff members -->

            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="row">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h1 class="panel-title text-semibold text-info"> A propos </h1>
                        </div>

                        <div class="panel-body">
                            <div class="blog-preview">
                                <h3>Qu'est-ce que le Lorem Ipsum?</h3>

                                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
                                    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                                    l'imprimerie depuis les années 1500, quand un peintre anonyme assembla
                                    ensemble....</p>
                            </div>
                        </div>

                        <div class="panel-footer panel-footer-transparent">
                            <div class="heading-elements">
                                <a href="{{ path('apropos') }}" class="heading-text pull-right">Voir détails
                                    <i class="icon-arrow-right14 position-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center">Améliorer votre <a href="#">CV</a> avec <a href="#">Quiz</a></h5>

                    <div class="brand-list brand-list-active">
                        {% for q in quiz %}
                            <div class=".col-lg-4 col-sm-4 col-ms-4">
                                <div class="panel panel-flat">
                                    <div class="panel-body">
                                        <div class="blog-preview text-center">
                                            <a href="{{ path('quiz_show', {'id': q.id}) }}">{{ q.titre }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3 hidden-xs">

                <!-- Online staff members -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h1 class="panel-title text-info">Meilleure Candidat</h1>
                    </div>

                    <div class="panel-body">
                        <ul class="media-list">
                            {% for c in candidat %}
                                <li class="media">
                                    <a href="{{ path('show_candidat', {'username':c.username}) }}" class="media-left">
                                        {% if ( (not c.image) or (not vich_uploader_asset(c.image, 'imageFile')) ) %}
                                            <img src="{{ asset('images/man.png') }}" class="img-circle" alt="">
                                        {% else %}
                                            <img src="{{ vich_uploader_asset(c.image, 'imageFile') }}"
                                                 class="img-circle" alt="">
                                        {% endif %}
                                    </a>
                                    <div class="media-right media-middle">
                                        <ul class="icons-list text-nowrap">
                                            <li>
                                                <a href="{{ path('show_candidat', {'username':c.username}) }}">
                                                    {% set foo = c.domaine|split(',') %}
                                                    {{ foo[0]|default('is not defined') }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /online staff members -->

            </div>
        </div>

    </div>
    <!-- /content area -->
{% endblock %}
