{% for pro in projet %}
    <!-- formations -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-construction position-left"></i>
                <a class="text-info" href="#">{{ pro.titre }}</a>
            </h4>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            {% if pro.description != '' %}
                <div class="schedule">
                    <blockquote>
                        <p>{{ pro.description | raw }}</p>
                    </blockquote>
                </div>
            {% endif %}
        </div>


        <div class="panel-footer panel-footer-transparent">
            <div class="heading-elements" style=".bootstrap-tagsinput{border: none!important;}">
                <ul class="list-inline list-inline-condensed heading-text">
                    <li>
                        <i class="icon-medal2 position-left"></i>
                        <span class="has-none">
                            <input type="text" class="form-control" disabled="disabled" data-role="tagsinput"
                                   value="{{ pro.competence }}"/>
                        </span>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /formations -->
{% endfor %}

