{% extends 'base.html.twig' %}
{% trans_default_domain 'AppTranslat' %}
{% block body_class 'sidebar-xs has-detached-left' %}
{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- Detached sidebar -->
        <div class="sidebar-detached">
            <div class="sidebar sidebar-default sidebar-separate">
                <div class="sidebar-content">

                    <!-- User details -->
                    <div class="content-group">
                        <div class="panel-body bg-info-700 border-radius-top text-center">
                            <div class="content-group-sm">
                                <h6 class="text-semibold no-margin-bottom">
                                    {% if user.name %}
                                        {{ user.name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                </h6>

                                <span class="display-block">{{ user.city }}, {{ user.state }}</span>
                            </div>


                            {% if ( (not user.image) or (not vich_uploader_asset(user.image, 'imageFile')) ) %}
                                <a data-popup="lightbox" href="{{ asset('images/man.png') }}"
                                   class="display-inline-block content-group-sm">
                                    <img src="{{ asset('images/man.png') }}" class="img-circle img-responsive" alt=""
                                         style="width: 150px !important;    height: 150px !important;">
                                </a>
                            {% else %}
                                <a data-popup="lightbox" href="{{ vich_uploader_asset(user.image, 'imageFile') }}"
                                   class="display-inline-block content-group-sm">
                                    <img src="{{ vich_uploader_asset(user.image, 'imageFile') }}"
                                         class="img-circle img-responsive"
                                         alt=""
                                         style="width: 150px !important;    height: 150px !important;">
                                </a>
                            {% endif %}

                            <ul class="list-inline list-inline-condensed no-margin-bottom">
                                <li>
                                    <a href="#" class="btn bg-green btn-rounded btn-icon"><i
                                                class="icon-facebook2"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn bg-green btn-rounded btn-icon"><i
                                                class="icon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn bg-green btn-rounded btn-icon"><i
                                                class="icon-github"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="panel no-border-top no-border-radius-top">
                            <ul class="navigation">
                                <li class="navigation-header"></li>
                                <li class="active"><a href="#apropos" data-toggle="tab"><i class="icon-info3"></i>
                                        Apropos</a>
                                </li>

                                <li><a href="#settings" data-toggle="tab"><i class="icon-cog"></i>
                                        Paramètre</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /user details -->


                    <!-- Online users -->

                    <!-- /online-users -->

                </div>
            </div>
        </div>
        <!-- /detached sidebar -->


        <!-- Detached content -->
        <div class="container-detached">
            <div class="content-detached">

                <!-- Tab content -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="apropos">
                        {{ render(controller('AppBundle:Recruteur:apropos')) }}
                    </div>

                    <div class="tab-pane fade" id="messages">
                        {{ render(controller('AppBundle:Recruteur:messages')) }}
                    </div>

                    <div class="tab-pane fade" id="settings">
                        {{ render(controller('AppBundle:Recruteur:setting')) }}
                    </div>
                </div>
                <!-- /tab content -->

            </div>
        </div>
        <!-- /detached content -->
    </div>
    <!-- /content area -->
{% endblock %}
