{% extends 'base.html.twig' %}

{% block body %}
    <!-- Cover area -->
    <div class="profile-cover">
        {% if ( (not candidat.imgcover) or (not vich_uploader_asset(candidat.imgcover, 'imageFile')) ) %}
            <div class="profile-cover-img" style="background-image: url({{ asset('images/demo/cover4.jpg') }})"></div>
        {% else %}
            <div class="profile-cover-img"
                 style="background-image: url({{ vich_uploader_asset(candidat.imgcover, 'imageFile') }})"></div>
        {% endif %}

        <div class="media">
            <div class="media-left">

                {% if ( (not candidat.image) or (not vich_uploader_asset(candidat.image, 'imageFile')) ) %}
                    <a data-popup="lightbox" href="{{ asset('images/man.png') }}" class="profile-thumb">
                        <img src="{{ asset('images/man.png') }}" class="img-circle" alt="">
                    </a>
                {% else %}
                    <a data-popup="lightbox" href="{{ vich_uploader_asset(candidat.image, 'imageFile') }}"
                       class="profile-thumb">
                        <img src="{{ vich_uploader_asset(candidat.image, 'imageFile') }}" class="img-circle" alt="">
                    </a>
                {% endif %}
            </div>

            <div class="media-body">
                <h1>
                    {% if candidat.nom%}
                        {{ candidat.nom }}
                    {% else %}
                        {{ candidat.username }}
                    {% endif %}
                    <small class="display-block">{{ candidat.domaine }}</small>
                </h1>
            </div>

            {#<div class="media-right media-middle">#}
                {#<ul class="list-inline list-inline-condensed no-margin-bottom text-nowrap">#}
                    {#<li><a href="#modal_postuler" class="btn btn-default" data-toggle="modal" data-target="#modal_postuler">#}
                            {#Postuler#}
                        {#</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}

            <!-- Basic modal -->
            <div id="modal_postuler" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="icon-close2"></i>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /basic modal -->

        </div>
    </div>
    <!-- /cover area -->
    <!-- Toolbar -->
    <div class="navbar navbar-default navbar-xs content-group cv-navbar" data-spy="affix" data-offset-top="197" style="padding: 0!important;
    padding-left: 20px!important;">
        <ul class="nav navbar-nav visible-xs-block">
            <li class="full-width text-left">
                <a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-filter">
            <ul class="nav navbar-nav" style="width: 100%; padding-right: 0">
                <li class="active">
                    <a href="#experiences" data-toggle="tab"><i class="icon-portfolio position-left"></i>
                        Expériences</a>
                </li>
                <li>
                    <a href="#formations" data-toggle="tab"><i class="icon-graduation2 position-left"></i>
                        Formations</a>
                </li>
                <li>
                    <a href="#projets" data-toggle="tab"><i class="icon-pencil-ruler position-left"></i> Projets</a>
                </li>
                <li>
                    <a href="#domaines" data-toggle="tab"><i class="icon-book position-left"></i> Domaine</a>
                </li>
                <li>
                    <a href="#competence" data-toggle="tab"><i class="icon-book position-left"></i> Competence</a>
                </li>
                <li>
                    <a href="#langages" data-toggle="tab"><i class="fa fa-language position-left"></i> Langues</a>
                </li>

                <li class="pull-right">
                    <a href="#contact" data-toggle="tab"><i class="icon-exclamation position-left"></i>
                        Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /toolbar -->

    <!-- Content area -->
    <div class="content cv-nav">

        <!-- User profile -->
        <div class="row">
            <div class="col-lg-9">
                <div class="tabbable">
                    <div class="tab-content">

                        {{ render(controller('AppBundle:ShowCandidat:showCV',{'candidat':candidat})) }}

                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Score -->
                <div class="panel text-center">
                    <div class="panel-body">

                        <!-- Progress counter -->
                        <canvas class="content-group-sm position-relative" id="score_quiz"></canvas>
                        <div>Total: {{ score }} </div>
                        <div class="text-teal-400 text-uppercase text-bold">Score du Quiz</div>
                        <!-- /progress counter -->

                    </div>
                </div>
                <!-- /Score-->



            </div>
        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->


{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            /*Chart for profile Candidat*/
            $.get('{{ path('reponce_etapes',{'id':candidat.id}) }}', function (datas) {
                console.log(datas);
                var dataQuiz = [0];
                var labels = [""];
                dataQuiz = dataQuiz.concat(datas.data);
                labels = labels.concat(datas.label);

                var lineChartData = {
                    labels: labels,
                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            data: dataQuiz
                        }
                    ]

                };

                new Chart(document.getElementById("score_quiz").getContext("2d")).Line(lineChartData);
            });
            /*/Chart for profile Candidat*/
        });
    </script>
{% endblock %}