{% for ex in experience %}
    <!-- Blog post -->

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="icon-office position-left"></i>
                <a class="text-info" href="#">{{ ex.titre }}</a>
            </h2>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">

            <h6 class="content-group">
                <i class="icon-location4 position-left"></i>
                <a href="#">{{ ex.entreprise }}</a>
            </h6>

            <blockquote>
                {{ ex.description | raw }}
            </blockquote>
        </div>

        <div class="panel-footer panel-footer-transparent">

            <div class="heading-elements">
                <ul class="list-inline list-inline-condensed heading-text">
                    <li>
                        <i class="icon-calendar22 position-left"></i>
                        <span>{{ ex.date }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /blog post -->
{% endfor %}
