{{ form_start(form, {'action': path('add_competence')}) }}
<div class="panel-body">
    <div class="form-group">
        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-pencil7"></i></span>
            {{ form_widget(form.cV.competence,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control',
                    'placeholder':'Domaine',
                    'data-role': 'tagsinput',
                }
            }) }}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal">
        Close
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
{{ form_end(form) }}