{{ form_start(form, {'action': path('add_formation')}) }}
<div class="panel-body">
    <div class="form-group">
        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-office"></i></span>
            {{ form_widget(form.scolarite,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control',
                    'placeholder':'Scolarite',
                }
            }) }}
        </div>
        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-graduation"></i></span>
            {{ form_widget(form.diplome,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control',
                    'placeholder':'Diplome',
                }
            }) }}
        </div>
        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
            {{ form_widget(form.annee,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control date'
                }
            }) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'summernote-airmode'
                }
            }) }}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-link" data-dismiss="modal">
        Close
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
{{ form_end(form) }}