{% for frm in formation %}
    <!-- formations -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-office position-left"></i>
                <a class="text-info" href="#">{{ frm.scolarite }}</a>
            </h4>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <i class="icon-graduation position-left"></i>
            <span>{{ frm.diplome }}</span>
            {% if frm.description != '' %}
                <div class="schedule">
                    <blockquote>
                        <p>{{ frm.description | raw }}</p>
                    </blockquote>
                </div>
            {% endif %}
        </div>

        <div class="panel-footer panel-footer-transparent">
            <div class="heading-elements">
                <ul class="list-inline list-inline-condensed heading-text">
                    <li>
                        <i class="icon-calendar22 position-left"></i>
                        <span>{{ frm.annee }}</span>
                    </li>
                </ul>
                <ul class="list-inline list-inline-condensed heading-text pull-right">
                    <li>
                        <button type="button" class="btn btn-sm" data-toggle="modal"
                                data-target="#modal_frm_modifier_{{ frm.id }}">Modifier</button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-danger btn-sm frm-supprimer" value="{{ frm.id }}">
                            Supprimer
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /formations -->
    {{ render(controller('AppBundle:Candidat:updateCVFormation',{'id' : frm.id, 'formation':frm})) }}
{% endfor %}

<script>
    $('.frm-supprimer').on('click', function () {
        var id_frm = $(".frm-supprimer").val(),
            url = '{{ path('dell-formation',{'id': 'region_id'}) }}';
        url = url.replace("region_id", id_frm);
        swal({
                title: "Supprimer cette Formation !",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: 'Supprimer',
                confirmButtonColor: "#f3270e",
                showLoaderOnConfirm: true
            },
            function () {
                var reponce;
                $.get(url,
                    function (data) {
                        reponce = data;
                    }
                );
                setTimeout(function () {
                    var title;
                    if (reponce) {
                        title = "Formation est supprimé!";
                    } else {
                        title = "Error";
                    }
                    swal({
                            title: title,
                            confirmButtonText: "Terminer",
                            confirmButtonColor: "#2196F3"
                        },
                        function () {
                            location.reload();
                        }
                    );
                }, 2000);
            });
    });
</script>