<div id="modal_frm_modifier_{{ formation.id }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, {'action' : path('updateCVFormation',{'id' : formation.id })}) }}
            <div class="modal-header bg-teal-400">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Modifier Experience</h6>
            </div>

            <div class="modal-body">
                <div class="input-group  mb-15">
                    <span class="input-group-addon"><i class="icon-office"></i></span>
                    {{ form_widget(form.scolarite,
                    {'attr':
                        {
                            'name': 'enter-message',
                            'class': 'form-control',
                            'placeholder':'Scolarite',
                        }
                    }) }}
                </div>
                <div class="input-group  mb-15">
                    <span class="input-group-addon"><i class="icon-graduation"></i></span>
                    {{ form_widget(form.diplome,
                    {'attr':
                        {
                            'name': 'enter-message',
                            'class': 'form-control',
                            'placeholder':'Diplome',
                        }
                    }) }}
                </div>
                <div class="input-group  mb-15">
                    <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                    {{ form_widget(form.annee,
                    {'attr':
                        {
                            'name': 'enter-message',
                            'class': 'form-control date'
                        }
                    }) }}
                </div>
                <div>
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description,
                    {'attr':
                        {
                            'name': 'enter-message',
                            'class': 'summernote-airmode'
                        }
                    }) }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-teal-400">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>