<div id="modal_default" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs nav-tabs-component nav-justified">
                        <li class="active">
                            <a href="#addExperiences" data-toggle="tab"><i class="icon-portfolio position-left"></i>
                                Expériences</a>
                        </li>
                        <li>
                            <a href="#addFormations" data-toggle="tab"><i class="icon-graduation2 position-left"></i>
                                Formations</a>
                        </li>
                        <li>
                            <a href="#addProjets" data-toggle="tab"><i class="icon-pencil-ruler position-left"></i>
                                Projets</a>
                        </li>
                        <li>
                            <a href="#addDomaine" data-toggle="tab"><i class="icon-book position-left"></i>
                                Domaine</a>
                        </li>
                        <li>
                            <a href="#addCompetence" data-toggle="tab"><i class="icon-book position-left"></i>
                                Competence</a>
                        </li>
                        <li>
                            <a href="#addLangages" data-toggle="tab"><i class="fa fa-language position-left"></i>
                                Langages</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="addExperiences">
                            {{ render(controller('AppBundle:Candidat:addCVExperience')) }}
                        </div>

                        <div class="tab-pane fade" id="addFormations">
                            {{ render(controller('AppBundle:Candidat:addCVFormation')) }}
                        </div>

                        <div class="tab-pane fade" id="addProjets">
                            {{ render(controller('AppBundle:Candidat:addCVProjet')) }}
                        </div>

                        <div class="tab-pane fade" id="addDomaine">
                            {{ render(controller('AppBundle:Candidat:addCVDomaine')) }}
                        </div>
                        <div class="tab-pane fade" id="addCompetence">
                            {{ render(controller('AppBundle:Candidat:addCVCompetence')) }}
                        </div>

                        <div class="tab-pane fade" id="addLangages">
                            {{ render(controller('AppBundle:Candidat:addCVLangage')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>