<div class="tab-pane fade in active" id="experiences">

    {{ render(controller('AppBundle:Candidat:showCVExperience')) }}

</div>

<div class="tab-pane fade" id="formations">

    {{ render(controller('AppBundle:Candidat:showCVFormation')) }}

</div>

<div class="tab-pane fade" id="projets">

    {{ render(controller('AppBundle:Candidat:showCVProjet')) }}

</div>

<div class="tab-pane fade" id="domaines">

    {{ render(controller('AppBundle:Candidat:showCVDomaine')) }}

</div>

<div class="tab-pane fade" id="competence">

    {{ render(controller('AppBundle:Candidat:showCVCompetence')) }}

</div>

<div class="tab-pane fade" id="langages">

    {{ render(controller('AppBundle:Candidat:showCVLangage')) }}

</div>
