<div class="tab-pane fade in active" id="experiences">

    {{ render(controller('AppBundle:ShowCandidat:showCVExperience',{'candidat':candidat})) }}

</div>

<div class="tab-pane fade" id="formations">

    {{ render(controller('AppBundle:ShowCandidat:showCVFormation',{'candidat':candidat})) }}

</div>

<div class="tab-pane fade" id="projets">

    {{ render(controller('AppBundle:ShowCandidat:showCVProjet',{'candidat':candidat})) }}

</div>

<div class="tab-pane fade" id="domaines">

    {{ render(controller('AppBundle:ShowCandidat:showCVDomaine',{'candidat':candidat})) }}

</div>

<div class="tab-pane fade" id="competence">

    {{ render(controller('AppBundle:ShowCandidat:showCVCompetence',{'candidat':candidat})) }}

</div>

<div class="tab-pane fade" id="langages">

    {{ render(controller('AppBundle:ShowCandidat:showCVLangage',{'candidat':candidat})) }}

</div>

<div class="tab-pane fade" id="contact">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="text-info">Générale Info</span>
            </h2>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">

            <h4 class="content-group">
                <i class="fa fa-envelope position-left" aria-hidden="true"></i>
                <span style="padding-right: 20px">{{ candidat.email }}</span>
            </h4>
            <h4 class="content-group">
                <i class="fa fa-phone position-left" aria-hidden="true"></i>
                <span style="padding-right: 20px">{{ candidat.phone }}</span>
            </h4>
            <h4 class="content-group">
                <i class="fa fa-map-marker position-left" aria-hidden="true"></i>
                <span style="padding-right: 20px">{{ candidat.address1 }} | {{ candidat.address2 }}</span>
            </h4>
        </div>
    </div>

</div>
