{% extends 'base.html.twig' %}

{% block body %}<!-- Content area -->
    <div class="content">

        <!-- Search field -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Chercher des Candidat</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="main-search">
                    <div class="input-group content-group">
                        <div class="has-feedback has-feedback-left">
                            <input id="chercher_candidat_val" type="text"
                                   class="chercher_candidat form-control input-xlg"
                                   placeholder="Chercher des Candida...">
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-muted text-size-base"></i>
                            </div>
                        </div>

                        <div class="input-group-btn">
                            <a id="chercher_candidat_btn" class="btn btn-primary btn-xlg">Chercher</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /search field -->

        <!-- Search results best-->
        <div class="content-group">
            <p class="text-size-small text-uppercase text-semibold text-muted mb-10"></p>

            <div class="search-results-list">
                <div class="row">
                    <div id="result_recherche"></div>
                </div>
            </div>
        </div>
        <!-- /search results best -->

    </div>
    <!-- /content area -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var searchRequest = null;
            $(".chercher_candidat ,#chercher_candidat_btn").bind('keyup click', function () {
                var minlength = 3;
                var value = $("#chercher_candidat_val").val();
                var entitySelector = $("#result_recherche").html('');

                if (value.length >= minlength) {
                    if (searchRequest !== null) {
                        searchRequest.abort();
                    }

                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('chercher_candidat') }}",
                        data: {
                            'q': value
                        },
                        dataType: "text",

                        success: function (msg) {
                            var result = JSON.parse(msg);
                            var verif = '';
                            var values = '';

                            if (result.length !== 0) {
                                $.each(result, function (key, arr) {
                                    console.log(arr.Candidat);
                                    entitySelector.append(

                                        '<div class="col-lg-3 col-sm-6">' +
                                        '<div class="thumbnail">' +
                                        '<div class="thumb thumb-rounded">' +
                                        '<img src="' + arr.imgUrl + '" class="img-circle" alt="">' +

                                        '<div class="caption-overflow">' +
                                        '<span>' +
                                        '<a href="'+ Routing.generate('show_candidat', { username: arr.Candidat.username }) +'" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5">' +
                                        '<i class="icon-link2"></i></a>' +
                                        '</span>' +
                                        '</div>' +
                                        '</div>' +

                                        '<div class="caption text-center">' +
                                        '<h6 class="text-semibold no-margin"> ' + arr.Candidat.username + ' ' +
                                        '<small class="display-block">' + arr.Candidat.domaine + '</small>' +
                                        '</h6>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                    )
                                    ;
                                });
                            } else {
                                entitySelector.append(
                                    '<div>Aucun résultat</div>'
                                );
                            }

                        }
                    });
                }
            })
        });
    </script>
{% endblock %}