{{ form_start(form) }}
<div class="form-group">
    {{ form_widget(form.apropos.description,
    {'attr':
        {
            'name': 'enter-message',
            'class': 'summernote-airmode',
        }
    }) }}
    <br>
    <br>
    <label class="panel-title text-info" for="">Domaine d'activiteé</label>
    <br>
    {{ form_widget(form.domaine,
    {'attr':
        {
            'name': 'enter-message',
            'class': 'form-control mb-15',
            'placeholder':'Domaine',
        }
    }) }}
</div>

<div class="row">
    <div class="col-xs-6">
        <ul class="icons-list icons-list-extended mt-10">
            <li>
                <a href="#" data-popup="tooltip" title="Add photo"
                   data-container="body"><i class="icon-images2"></i></a>
            </li>
            <li>
                <a href="#" data-popup="tooltip" title="Add video"
                   data-container="body"><i class="icon-film2"></i></a>
            </li>
            <li>
                <a href="#" data-popup="tooltip" title="Add event"
                   data-container="body"><i class="icon-calendar2"></i></a>
            </li>
        </ul>
    </div>

    <div class="col-xs-6 text-right">
        <button type="submit" class="btn btn-primary btn-labeled btn-labeled-right">
            Save <b><i class="icon-circle-right2"></i></b>
        </button>
    </div>
</div>
{{ form_end(form) }}