{% trans_default_domain 'AppTranslat' %}
<!-- Daily stats -->
<div class="panel panel-flat">
    <div class="panel-body">

        <h4 class="content-group">
            <i class="fa fa-envelope position-left" aria-hidden="true"></i>
            <span style="padding-right: 20px">{{ user.email }}</span>

            <i class="fa fa-phone position-left" aria-hidden="true"></i>
            <span style="padding-right: 20px">{{ user.phone }}</span>

            <i class="fa fa-map-marker position-left" aria-hidden="true"></i>
            <span style="padding-right: 20px">{{ user.address1 }} | {{ user.address2 }}</span>

            <i class="fa fa-briefcase position-left" aria-hidden="true"></i>
            <span style="padding-right: 20px">{{ user.domaine }}</span>
        </h4>
    </div>
</div>
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title text-info">Informations Générales</h6>
    </div>

    <div class="panel-body">

        {% if user.apropos %}
            <p>{{ user.apropos.description | raw }}</p>
        {% endif %}
    </div>
</div>
<!-- /daily stats -->

