{{ form_start(form, {'action': path('add_experience')}) }}
<div class="panel-body">
    <div class="form-group">
        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-pencil7"></i></span>
            {{ form_widget(form.titre,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control',
                    'placeholder':'Titre',
                }
            }) }}
        </div>

        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-office"></i></span>
            {{ form_widget(form.entreprise,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control',
                    'placeholder':'Entreprise',
                }
            }) }}
        </div>

        <div class="input-group  mb-15">
            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
            {{ form_widget(form.date,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'form-control date',
                    'placeholder':'Date',
                }
            }) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description,
            {'attr':
                {
                    'name': 'enter-message',
                    'class': 'summernote-airmode',
                }
            }) }}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm" data-dismiss="modal">
        Close
    </button>
    <button type="submit" class="btn bg-teal-400">Save</button>
</div>
{{ form_end(form) }}