{% for ex in experience %}
    <!-- Blog post -->

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="icon-office position-left"></i>
                <a class="text-info" href="#">{{ ex.titre }}</a>
            </h2>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">

            <h6 class="content-group">
                <i class="icon-location4 position-left"></i>
                <a href="#">{{ ex.entreprise }}</a>
            </h6>

            <blockquote>
                {{ ex.description | raw }}
            </blockquote>
        </div>

        <div class="panel-footer panel-footer-transparent">

            <div class="heading-elements">
                <ul class="list-inline list-inline-condensed heading-text">
                    <li>
                        <i class="icon-calendar22 position-left"></i>
                        <span>{{ ex.date }}</span>
                    </li>
                </ul>
                <ul class="list-inline list-inline-condensed heading-text pull-right">
                    <li>
                        <button type="button" class="btn btn-sm" data-toggle="modal"
                                data-target="#modal_exp_modifier_{{ ex.id }}">Modifier
                        </button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-danger btn-sm exp-supprimer" value="{{ ex.id }}">Supprimer
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /blog post -->
    {{ render(controller('AppBundle:Candidat:updateCVExperience',{'id' : ex.id, 'experience':ex})) }}
{% endfor %}

<script>
    $('.exp-supprimer').on('click', function () {
        var id_exp = $(".exp-supprimer").val(),
            url = '{{ path('dell-experience',{'id': 'region_id'}) }}';
        url = url.replace("region_id", id_exp);
        swal({
                title: "Supprimer cette Expérience !",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonColor: "#f3270e",
                confirmButtonText: 'Supprimer',
                showLoaderOnConfirm: true
            },
            function () {
                var reponce;
                $.get(url,
                    function (data) {
                        reponce = data;
                    }
                );
                setTimeout(function () {
                    var title;
                    if (reponce) {
                        title = "Expérience est supprimé!";
                    } else {
                        title = "Error";
                    }
                    swal({
                            title: title,
                            confirmButtonText: "Terminer",
                            confirmButtonColor: "#2196F3"
                        },
                        function () {
                            location.reload();
                        }
                    );
                }, 2000);
            });
    });
</script>