{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- Wizard with validation -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title text-info text-bold text-uppercase">{{ quiz.titre }}</h3>
                <div class="heading-elements">
                    <ul class="icons-list">
                        {% if (date > 0) and (not reponce) %}
                            <li><h6 class="panel-title text-danger text-bold">Il ne peut être dépassé seulement
                                    après {{ date }} jours</h6></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {#{% for key,value in myReponce %}#}


            <div class="panel-body">
                {% set i = 1 %}

                {% for qz in question %}
                    {% set choix = 'choix_' ~ i %}
                    <legend class="text-semibold"></legend>
                    <h4>{{ i }} - {{ qz.titre }}<span class="position-right text-danger"></span></h4>
                    <div class="form-group">
                        {% if myReponce[choix] is defined %}
                            {% if myReponce[choix] == qz.reponce %}
                                <h5>
                                    <code class="text-success">{{ myReponce[choix] }}</code>
                                </h5>
                            {% else %}
                                <h5>
                                    <code>{{ myReponce[choix] }}</code>
                                </h5>
                            {% endif %}
                        {% else %}
                            <h5>
                                <code>Undefined</code>
                            </h5>
                        {% endif %}
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}

                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary pull-right">Retour au profil</a>
            </div>
        </div>
        <!-- /wizard with validation -->

    </div>
    <!-- /content area -->
{% endblock %}