<!-- Search field -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Chercher des Quiz</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="main-search">
            <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">

                    <input id="chercher_quiz_val" type="text"
                           class="chercher_quiz form-control input-xlg"
                           placeholder="Chercher des Quiz...">

                    <div class="form-control-feedback">
                        <i class="icon-search4 text-muted text-size-base"></i>
                    </div>
                </div>

                <div class="input-group-btn">
                    <a id="chercher_quiz_btn" class="btn btn-primary btn-xlg">Chercher</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /search field -->

<div class="row">
    <div id="entitiesNav"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var searchRequest = null;
        $(".chercher_quiz ,#chercher_quiz_btn").bind('keyup click', function () {
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');

            if (value.length >= minlength) {

                if (searchRequest !== null) {
                    searchRequest.abort();
                }

                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('search_quiz') }}",
                    data: {
                        'q': value
                    },
                    dataType: "text",

                    success: function (msg) {
                        //we need to check if the value is the same
                        if (value === $(that).val()) {
                            var result = JSON.parse(msg);
                            var verify = '';
                            var values = '';

                            $.each(result, function (key, arr) {

                                $.each(arr, function (id, value) {
                                    if (key === 'Quiz') {
                                        if (id !== 'error') {
                                            verify = 'ok';
                                        } else {
                                            verify = 'no';
                                            values = value
                                        }
                                    }
                                });

                                $.each(arr, function (keys, values) {
                                    var icon = icons(values);
                                    $.each(values, function (key, value) {
                                        if (key === 'Quiz') {
                                            if (verify === 'ok') {
                                                var txt = '<div class="col-md-4">' +
                                                    '<div class="panel panel-flat border-left-xlg border-left-info">' +

                                                    '<div class="panel-heading">' +
                                                    '<a href="/quiz/' + value.id + '">' + value.titre + '</a>' +
                                                    '<div class="heading-elements">' +
                                                    '<ul class="icons-list">' +
                                                    '<li><i class="icon-' + icon.name + ' text-' + icon.color + '" ></i></li>' +
                                                    '</ul>' +
                                                    '</div>' +
                                                    '</div>' +

                                                    '</div>' +
                                                    '</div>';

                                                entitySelector.append(txt);
                                            } else {
                                                entitySelector.append('<div class="errorLi">' + values + '</div>');
                                            }
                                        }
                                    });

                                });

                                function icons(values) {
                                    var $return = {};
                                    $.each(values, function (key, value) {
                                        if (key === 'icon') {
                                            $return['name'] = value.name;
                                            $return['color'] = value.color;
                                        }
                                    });
                                    return $return;
                                }
                            });

                        }
                    }
                });
            }
        });
    });
</script>
