{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content area -->
    <div class="content">

        <!-- Wizard with validation -->
        <div class="panel panel-white">
            <div class="panel-heading">
                <h3 class="panel-title text-info text-bold text-uppercase">{{ quiz.titre }}</h3>
                <div class="heading-elements">
                    <ul class="icons-list">
                    </ul>
                </div>
            </div>

            {{ form_start(form, {'method': 'POST'}) }}
            <div class="stepy-basic">
                {% set i = 1 %}
                {% for qz in question %}
                    <fieldset title="{{ i }}">
                        <legend class="text-semibold"></legend>
                        <h4>{{ qz.titre }}<span class="position-right text-danger"></span></h4>
                        <div class="form-group">
                            {% for ch in qz.chnce %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="choix_{{ i }}" value="{{ ch }}"
                                               class="styled required">
                                        <code class="text-blue">{{ ch }}</code>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% set i = i + 1 %}
                {% endfor %}
                <fieldset title="...">
                    <legend class="text-semibold">Finished</legend>
                </fieldset>

                <button type="submit" class="btn btn-primary stepy-finish">Submit <i
                            class="icon-check position-right"></i></button>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /wizard with validation -->

    </div>
    <!-- /content area -->
{% endblock %}