<div class="panel panel-flat">
    <div class="panel-footer panel-footer-transparent">
        <div class="heading-elements" style=".bootstrap-tagsinput{border: none!important;}">
            <ul class="list-inline list-inline-condensed heading-text">
                <li>
                    <i class="fa fa-language position-left"></i>
                    <span class="has-none">
                            <input type="text" class="form-control" disabled="disabled" data-role="tagsinput"
                                   value="{{ lange }}"/>
                        </span>
                </li>
            </ul>
        </div>
    </div>
</div>
