{% for frm in formation %}
    <!-- formations -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-office position-left"></i>
                <a class="text-info" href="#">{{ frm.scolarite }}</a>
            </h4>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <i class="icon-graduation position-left"></i>
            <span>{{ frm.diplome }}</span>
            {% if frm.description != '' %}
                <div class="schedule">
                    <blockquote>
                        <p>{{ frm.description | raw }}</p>
                    </blockquote>
                </div>
            {% endif %}
        </div>

        <div class="panel-footer panel-footer-transparent">
            <div class="heading-elements">
                <ul class="list-inline list-inline-condensed heading-text">
                    <li>
                        <i class="icon-calendar22 position-left"></i>
                        <span>{{ frm.annee }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /formations -->
{% endfor %}
