{% extends 'base.html.twig' %}


{% block body %}
    <!-- Content area -->
    <div class="content">
        <!-- Search field -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Chercher des Recruteur</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="main-search">
                    <div class="input-group content-group">
                        <div class="has-feedback has-feedback-left">
                            <input id="chercher_recruteur_val" type="text" class="form-control input-xlg"
                                   placeholder="Chercher des Recruteur...">
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-muted text-size-base"></i>
                            </div>
                        </div>

                        <div class="input-group-btn">
                            <a id="chercher_recruteur_btn" class="btn btn-primary btn-xlg">Chercher</a>
                        </div>
                    </div>

                    <div class="row search-option-buttons">
                        <div class="col-sm-6">
                            <ul class="list-inline list-inline-condensed no-margin-bottom">
                                <li>
                                    <button type="reset" class="btn btn-link">
                                        <i class="icon-reload-alt position-left"></i> Réinitialiser votre
                                        recherche
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6 text-right">
                            <ul class="list-inline no-margin-bottom">
                                <li><a href="#" class="btn btn-link"><i class="icon-menu7 position-left"></i>
                                        Advanced search</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /search field -->

        <!-- Search results best-->
        <div class="content-group">
            <p class="text-size-small text-uppercase text-semibold text-muted mb-10"></p>

            <div class="search-results-list">
                <div class="row">
                    <div id="result_recerche"></div>
                </div>
            </div>
        </div>
        <!-- /search results best -->
    </div>
    <!-- /content area -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        String.prototype.trunc = String.prototype.trunc ||
            function (n) {
                var tmp = document.createElement("DIV");
                tmp.innerHTML = this;
                var string = tmp.textContent || tmp.innerText || "";
                return (string.length > n) ? string.substr(0, n - 1) + '&hellip;' : string;
            };
        jQuery(document).ready(function () {
            var searchRequest = null;
            $("#chercher_recruteur_btn").click(function () {
                var minlength = 3;
                var value = $("#chercher_recruteur_val").val();
                var entitySelector = $("#result_recerche").html('');

                if (value.length >= minlength) {
                    if (searchRequest !== null) {
                        searchRequest.abort();
                    }

                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('chercher_recruteur') }}",
                        data: {
                            'q': value
                        },
                        dataType: "text",

                        success: function (msg) {
                            var result = JSON.parse(msg);
                            var verif = '';
                            var values = '';

                            if (result.length !== 0) {
                                $.each(result, function (key, arr) {
                                    entitySelector.append(
                                        '<div class="col-lg-4 col-sm-6">' +
                                        '<div class="panel panel-body"> ' +
                                        '<ul class="media-list search-results-list">' +
                                        '<li class="media stack-media-on-mobile">' +
                                        '<div class="media-left">' +
                                        '<div class="thumb">' +
                                        '<a href="' + Routing.generate('show_recruteur', {username: arr.Recruteur.username}) + '">' +
                                        '<img src="' + arr.imgUrl + '" class="img-responsive img-rounded media-preview" alt="">' +
                                        '<span class="zoom-image"><i class="icon-link2"></i></span>' +
                                        '</a>' +
                                        '</div>' +
                                        '</div>' +

                                        '<div class="media-body">' +
                                        '<h6 class=""><a href="#">' + arr.Recruteur.domaine + '</a></h6>' +
                                        '</div>' +
                                        '</li>' +
                                        '</ul>' +
                                        '</div>' +
                                        '</div>'
                                    );
                                });
                            } else {
                                entitySelector.append(
                                    '<div>Aucun résultat</div>'
                                );
                            }

                        }
                    });
                }
            })
        });
    </script>
{% endblock %}