{% for pro in projet %}
    <!-- formations -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-construction position-left"></i>
                <a class="text-info" href="#">{{ pro.titre }}</a>
            </h4>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            {% if pro.description != '' %}
                <div class="schedule">
                    <blockquote>
                        <p>{{ pro.description | raw }}</p>
                    </blockquote>
                </div>
            {% endif %}
        </div>


        <div class="panel-footer panel-footer-transparent">
            <div class="heading-elements" style=".bootstrap-tagsinput{border: none!important;}">
                <ul class="list-inline list-inline-condensed heading-text">
                    <li>
                        <i class="icon-medal2 position-left"></i>
                        <span class="has-none">
                            <input type="text" class="form-control" disabled="disabled" data-role="tagsinput"
                                   value="{{ pro.competence }}"/>
                        </span>

                    </li>
                </ul>
                <ul class="list-inline list-inline-condensed heading-text pull-right">
                    <li>
                        <button type="button" class="btn btn-sm" data-toggle="modal"
                                data-target="#modal_pro_modifier_{{ pro.id }}">Modifier
                        </button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-danger btn-sm pro-supprimer" value="{{ pro.id }}">
                            Supprimer
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /formations -->
    {{ render(controller('AppBundle:Candidat:updateCVProjet',{'id' : pro.id, 'projet':pro})) }}
{% endfor %}

<script>
    $('.pro-supprimer').on('click', function () {
        var id_pro = $(".pro-supprimer").val(),
            url = '{{ path('dell-projet',{'id': 'region_id'}) }}';
        url = url.replace("region_id", id_pro);
        swal({
                title: "Supprimer cette Projet !",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: 'Supprimer',
                confirmButtonColor: "#f3270e",
                showLoaderOnConfirm: true
            },
            function () {
                var reponce;
                $.get(url,
                    function (data) {
                        reponce = data;
                    }
                );
                setTimeout(function () {
                    var title;
                    if (reponce) {
                        title = "Projet est supprimé!";
                    } else {
                        title = reponce;
                    }
                    swal({
                            title: title,
                            confirmButtonText: "Terminer",
                            confirmButtonColor: "#2196F3"
                        },
                        function () {
                            location.reload();
                        }
                    );
                }, 2000);
            });
    });
</script>