<div id="modal_pro_modifier_{{ projet.id }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, {'action' : path('updateCVProjet',{'id' : projet.id })}) }}
            <div class="modal-header bg-teal-400">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Modifier Experience</h6>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group  mb-15">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        {{ form_widget(form.titre,
                        {'attr':
                            {
                                'name': 'enter-message',
                                'class': 'form-control',
                                'placeholder':'Titre',
                            }
                        }) }}
                    </div>
                    <div class="mb-15">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description,
                        {'attr':
                            {
                                'name': 'enter-message',
                                'class': 'summernote-airmode'
                            }
                        }) }}
                    </div>
                    <div class="input-group  mb-15">
                        <span class="input-group-addon"><i class="icon-medal2"></i></span>
                        {{ form_widget(form.competence,
                        {'attr':
                            {
                                'name': 'enter-message',
                                'placeholder': 'Competence',
                                'data-role': 'tagsinput',
                            }
                        }) }}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                <button type="submit" class="btn bg-teal-400">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>